## Решаем банковскую задачу

## Описание структуры данных

| Название колонки         | Описание                                                                 |
|--------------------------|--------------------------------------------------------------------------|
| fecha_dato               | Колонка для разделения таблицы                                           |
| ncodpers                 | Идентификатор пользователя                                               |
| ind_empleado             | Статус занятости работника:<br>- A — сотрудник<br>- B — бывший сотрудник<br>- F — в социальном отпуске<br>- N — не сотрудник<br>- S — статус не определён |
| pais_residencia          | Страна резидентства                                                      |
| sexo                     | Пол                                                                      |
| age                      | Возраст                                                                  |
| fecha_alta               | Дата, когда клиент впервые заключил договор в банке                      |
| ind_nuevo                | 1, если клиент зарегистрировался за последние 6 месяцев                  |
| antiguedad               | Стаж клиента (в месяцах)                                                 |
| indrel                   | 1 — первичный клиент<br>99 — первичный клиент в течении месяца, но не в конце |
| ult_fec_cli_1t           | Последняя дата, когда клиент был премиальным                             |
| indrel_1mes              | Тип клиента в начале месяца:<br>- 1 — премиальный<br>- 2 — собственник<br>- P — потенциальный<br>- 3 — раньше был премиальным<br>- 4 — раньше был собственником |
| tiprel_1mes              | Тип клиента в начале месяца:<br>- A — активный<br>- I — неактивный<br>- P — бывший<br>- R — потенциальный |
| indresi                  | Если страна проживания совпадает со страной банка                         |
| indext                   | Если страна рождения клиента отличается от страны банка                   |
| conyuemp                 | 1, если клиент супруг(а) работника                                       |
| canal_entrada            | Канал, по которому пришел пользователь                                   |
| indfall                  | Индекс актуальности счёта (Deceased index, N/S)                          |
| tipodom                  | Тип адреса (1 — основной адрес)                                          |
| cod_prov                 | Код провинции (адреса клиента)                                           |
| nomprov                  | Имя провинции                                                            |
| ind_actividad_cliente    | Активность пользователя (1 — активный, 0 — неактивный)                   |
| renta                    | Доход домохозяйства                                                      |
| segmento                 | Сегментация: 1 — VIP, 2 — Обыкновенные, 3 — выпускники колледжей         |
| ind_ahor_fin_ult1        | Сберегательный счёт                                                      |
| ind_aval_fin_ult1        | Банковская гарантия                                                      |
| ind_cco_fin_ult1         | Текущие счета                                                            |
| ind_cder_fin_ult1        | Деривативный счёт                                                        |
| ind_cno_fin_ult1         | Зарплатный проект                                                        |
| ind_ctju_fin_ult1        | Детский счёт                                                             |
| ind_ctma_fin_ult1        | Особый счёт 3                                                            |
| ind_ctop_fin_ult1        | Особый счёт                                                              |
| ind_ctpp_fin_ult1        | Особый счёт 2                                                            |
| ind_deco_fin_ult1        | Краткосрочный депозит                                                    |
| ind_deme_fin_ult1        | Среднесрочный депозит                                                    |
| ind_dela_fin_ult1        | Долгосрочный депозит                                                     |
| ind_ecue_fin_ult1        | Цифровой счёт                                                            |
| ind_fond_fin_ult1        | Денежные средства                                                        |
| ind_hip_fin_ult1         | Ипотека                                                                  |
| ind_plan_fin_ult1        | Пенсионный план                                                          |
| ind_pres_fin_ult1        | Кредит                                                                   |
| ind_reca_fin_ult1        | Налоговый счёт                                                           |
| ind_tjcr_fin_ult1        | Кредитная карта                                                          |
| ind_valo_fin_ult1        | Ценные бумаги                                                            |
| ind_viv_fin_ult1         | Домашний счёт                                                            |
| ind_nomina_ult1          | Аккаунт для выплаты зарплаты                                              |
| ind_nom_pens_ult1        | Аккаунт для пенсионных обязательств                                      |
| ind_recibo_ult1          | Дебетовый аккаунт                                                        |

## Поглядим на структуру датасета, поищем ошибки в файлах и покажем как связаны переменные между собой

In [2]:
import pandas as pd


df = pd.read_csv("train_ver2.csv")

/tmp/ipykernel_72128/1226112143.py:4: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train_ver2.csv")

In [3]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
df.shape

(13647309, 48)

In [5]:
df.nunique()

fecha_dato                   17
ncodpers                 956645
ind_empleado                  5
pais_residencia             118
sexo                          2
age                         235
fecha_alta                 6756
ind_nuevo                     2
antiguedad                  507
indrel                        2
ult_fec_cli_1t              223
indrel_1mes                  13
tiprel_1mes                   5
indresi                       2
indext                        2
conyuemp                      2
canal_entrada               162
indfall                       2
tipodom                       1
cod_prov                     52
nomprov                      52
ind_actividad_cliente         2
renta                    520994
segmento                      3
ind_ahor_fin_ult1             2
ind_aval_fin_ult1             2
ind_cco_fin_ult1              2
ind_cder_fin_ult1             2
ind_cno_fin_ult1              2
ind_ctju_fin_ult1             2
ind_ctma_fin_ult1             2
ind_ctop_fin_ult1             2
ind_ctpp_fin_ult1             2
ind_deco_fin_ult1             2
ind_deme_fin_ult1             2
ind_dela_fin_ult1             2
ind_ecue_fin_ult1             2
ind_fond_fin_ult1             2
ind_hip_fin_ult1              2
ind_plan_fin_ult1             2
ind_pres_fin_ult1             2
ind_reca_fin_ult1             2
ind_tjcr_fin_ult1             2
ind_valo_fin_ult1             2
ind_viv_fin_ult1              2
ind_nomina_ult1               2
ind_nom_pens_ult1             2
ind_recibo_ult1               2
dtype: int64

In [6]:
from data_structure import data_description

isnulls = df.isnull().sum().sort_values(ascending=False)

for col in isnulls[isnulls > 0].index:
    print(f"{col}: {isnulls[col]} --описание:  {data_description.get(col)}")

conyuemp: 13645501 --описание:  1, если клиент супруг(а) работника
ult_fec_cli_1t: 13622516 --описание:  Последняя дата, когда клиент был премиальным
renta: 2794375 --описание:  Доход домохозяйства
segmento: 189368 --описание:  Сегментация: 1 — VIP, 2 — Обыкновенные, 3 — выпускники колледжей
canal_entrada: 186126 --описание:  Канал, по которому пришел пользователь
indrel_1mes: 149781 --описание:  Тип клиента в начале месяца: 1 — премиальный, 2 — собственник, P — потенциальный, 3 — раньше был премиальным, 4 — раньше был собственником
tiprel_1mes: 149781 --описание:  Тип клиента в начале месяца: A — активный, I — неактивный, P — бывший, R — потенциальный
cod_prov: 93591 --описание:  Код провинции (адреса клиента)
nomprov: 93591 --описание:  Имя провинции
sexo: 27804 --описание:  Пол
tipodom: 27735 --описание:  Тип адреса (1 — основной адрес)
indrel: 27734 --описание:  1 — первичный клиент, 99 — первичный клиент в течении месяца, но не в конце
indresi: 27734 --описание:  Если страна проживания совпадает со страной банка
pais_residencia: 27734 --описание:  Страна резидентства
fecha_alta: 27734 --описание:  Дата, когда клиент впервые заключил договор в банке
ind_empleado: 27734 --описание:  Статус занятости работника: A — сотрудник, B — бывший сотрудник, F — в социальном отпуске, N — не сотрудник, S — статус не определён
ind_nuevo: 27734 --описание:  1, если клиент зарегистрировался за последние 6 месяцев
indext: 27734 --описание:  Если страна рождения клиента отличается от страны банка
indfall: 27734 --описание:  Индекс актуальности счёта (Deceased index, N/S)
ind_actividad_cliente: 27734 --описание:  Активность пользователя (1 — активный, 0 — неактивный)
ind_nom_pens_ult1: 16063 --описание:  Аккаунт для пенсионных обязательств
ind_nomina_ult1: 16063 --описание:  Аккаунт для выплаты зарплаты

In [7]:

df["fecha_dato"] = pd.to_datetime(df["fecha_dato"])

cutoff_date = pd.to_datetime("2016-03-01")

d2 = (
    df[df["fecha_dato"] < (df["fecha_dato"].min() + pd.DateOffset(months=14))]
    .groupby(by="ncodpers")
    .agg(months=("fecha_dato", "count"), activate=("ind_actividad_cliente", "sum"))
    .reset_index()
)

d2 = d2.loc[d2["activate"] < 4, "ncodpers"]

df_active = df[~df["ncodpers"].isin(d2)]

In [8]:
from data_structure import data_description

isnulls = df_active.isnull().sum().sort_values(ascending=False)

for col in isnulls[isnulls > 0].index:
    print(f"{col}: {isnulls[col]} --описание:  {data_description.get(col)}")

conyuemp: 6347954 --описание:  1, если клиент супруг(а) работника
ult_fec_cli_1t: 6341941 --описание:  Последняя дата, когда клиент был премиальным
renta: 1114619 --описание:  Доход домохозяйства
segmento: 51237 --описание:  Сегментация: 1 — VIP, 2 — Обыкновенные, 3 — выпускники колледжей
canal_entrada: 50582 --описание:  Канал, по которому пришел пользователь
indrel_1mes: 44632 --описание:  Тип клиента в начале месяца: 1 — премиальный, 2 — собственник, P — потенциальный, 3 — раньше был премиальным, 4 — раньше был собственником
tiprel_1mes: 44632 --описание:  Тип клиента в начале месяца: A — активный, I — неактивный, P — бывший, R — потенциальный
cod_prov: 37154 --описание:  Код провинции (адреса клиента)
nomprov: 37154 --описание:  Имя провинции
sexo: 350 --описание:  Пол
tipodom: 292 --описание:  Тип адреса (1 — основной адрес)
indrel: 291 --описание:  1 — первичный клиент, 99 — первичный клиент в течении месяца, но не в конце
indresi: 291 --описание:  Если страна проживания совпадает со страной банка
pais_residencia: 291 --описание:  Страна резидентства
fecha_alta: 291 --описание:  Дата, когда клиент впервые заключил договор в банке
ind_empleado: 291 --описание:  Статус занятости работника: A — сотрудник, B — бывший сотрудник, F — в социальном отпуске, N — не сотрудник, S — статус не определён
ind_nuevo: 291 --описание:  1, если клиент зарегистрировался за последние 6 месяцев
indext: 291 --описание:  Если страна рождения клиента отличается от страны банка
indfall: 291 --описание:  Индекс актуальности счёта (Deceased index, N/S)
ind_actividad_cliente: 291 --описание:  Активность пользователя (1 — активный, 0 — неактивный)
ind_nom_pens_ult1: 264 --описание:  Аккаунт для пенсионных обязательств
ind_nomina_ult1: 264 --описание:  Аккаунт для выплаты зарплаты

In [9]:
print(df.shape)
print(df_active.shape)

(13647309, 48)
(6349490, 48)

### Разрыв между качеством данных активных и неактивных пользователей очень велик. 

Моей основной задачей является создание рекомендательной системы, которая глубже вовлечет пользователей в экосистему банка, поэтому неактивными пользователями пренебрегаем. В результате количество строк в датасете уменьшится с 13 миллионов до 6 миллионов.

In [10]:
df_active.nunique()

fecha_dato                   17
ncodpers                 408395
ind_empleado                  5
pais_residencia             105
sexo                          2
age                         231
fecha_alta                 6579
ind_nuevo                     2
antiguedad                  507
indrel                        2
ult_fec_cli_1t              223
indrel_1mes                  13
tiprel_1mes                   5
indresi                       2
indext                        2
conyuemp                      2
canal_entrada               154
indfall                       2
tipodom                       1
cod_prov                     52
nomprov                      52
ind_actividad_cliente         2
renta                    251701
segmento                      3
ind_ahor_fin_ult1             2
ind_aval_fin_ult1             2
ind_cco_fin_ult1              2
ind_cder_fin_ult1             2
ind_cno_fin_ult1              2
ind_ctju_fin_ult1             2
ind_ctma_fin_ult1             2
ind_ctop_fin_ult1             2
ind_ctpp_fin_ult1             2
ind_deco_fin_ult1             2
ind_deme_fin_ult1             2
ind_dela_fin_ult1             2
ind_ecue_fin_ult1             2
ind_fond_fin_ult1             2
ind_hip_fin_ult1              2
ind_plan_fin_ult1             2
ind_pres_fin_ult1             2
ind_reca_fin_ult1             2
ind_tjcr_fin_ult1             2
ind_valo_fin_ult1             2
ind_viv_fin_ult1              2
ind_nomina_ult1               2
ind_nom_pens_ult1             2
ind_recibo_ult1               2
dtype: int64

In [11]:
df_active.describe()

,fecha_dato,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,6349490,6.349490e+06,6.349199e+06,6.349199e+06,6349198.0,6.312336e+06,6.349199e+06,5.234871e+06,6.349490e+06,6.349490e+06,...,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349226e+06,6.349226e+06,6.349490e+06
mean,2015-10-06 02:30:18.544037376,7.695870e+05,5.012900e-02,1.116519e+00,1.0,2.694507e+01,9.627816e-01,1.404285e+05,1.611153e-04,4.976778e-05,...,1.258952e-02,1.954425e-02,4.454531e-03,1.041616e-01,9.476210e-02,5.442563e-02,6.455164e-03,1.161088e-01,1.261158e-01,2.712081e-01
min,2015-01-28 00:00:00,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,3.731790e+03,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015-05-28 00:00:00,3.683920e+05,0.000000e+00,1.000000e+00,1.0,1.900000e+01,1.000000e+00,7.303215e+04,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015-09-28 00:00:00,8.120360e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,1.000000e+00,1.082671e+05,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2016-01-28 00:00:00,1.170104e+06,0.000000e+00,1.000000e+00,1.0,3.300000e+01,1.000000e+00,1.646839e+05,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,2016-05-28 00:00:00,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,NaN,4.442638e+05,2.182111e-01,3.377171e+00,0.0,1.217420e+01,1.892966e-01,2.414075e+05,1.269210e-02,7.054453e-03,...,1.114945e-01,1.384279e-01,6.659346e-02,3.054701e-01,2.928861e-01,2.268557e-01,8.008431e-02,3.203554e-01,3.319799e-01,4.445833e-01

In [12]:
df_active.dtypes

fecha_dato               datetime64[ns]
ncodpers                          int64
ind_empleado                     object
pais_residencia                  object
sexo                             object
age                              object
fecha_alta                       object
ind_nuevo                       float64
antiguedad                       object
indrel                          float64
ult_fec_cli_1t                   object
indrel_1mes                      object
tiprel_1mes                      object
indresi                          object
indext                           object
conyuemp                         object
canal_entrada                    object
indfall                          object
tipodom                         float64
cod_prov                        float64
nomprov                          object
ind_actividad_cliente           float64
renta                           float64
segmento                         object
ind_ahor_fin_ult1                 int64
ind_aval_fin_ult1                 int64
ind_cco_fin_ult1                  int64
ind_cder_fin_ult1                 int64
ind_cno_fin_ult1                  int64
ind_ctju_fin_ult1                 int64
ind_ctma_fin_ult1                 int64
ind_ctop_fin_ult1                 int64
ind_ctpp_fin_ult1                 int64
ind_deco_fin_ult1                 int64
ind_deme_fin_ult1                 int64
ind_dela_fin_ult1                 int64
ind_ecue_fin_ult1                 int64
ind_fond_fin_ult1                 int64
ind_hip_fin_ult1                  int64
ind_plan_fin_ult1                 int64
ind_pres_fin_ult1                 int64
ind_reca_fin_ult1                 int64
ind_tjcr_fin_ult1                 int64
ind_valo_fin_ult1                 int64
ind_viv_fin_ult1                  int64
ind_nomina_ult1                 float64
ind_nom_pens_ult1               float64
ind_recibo_ult1                   int64
dtype: object

In [13]:
# Какие есть продукты

product_cols = [
    col for col in df_active.columns if col.startswith("ind_") and col.endswith("_ult1")
]

print(product_cols)

['ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1', 'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1', 'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1', 'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1', 'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1', 'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1', 'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1']

In [14]:
df_active[product_cols] = df_active[product_cols].fillna(0).astype(int)

/tmp/ipykernel_72128/3290385929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_active[product_cols] = df_active[product_cols].fillna(0).astype(int)

In [15]:
df_active[product_cols].describe()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,...,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06,6.349490e+06
mean,1.611153e-04,4.976778e-05,7.361116e-01,7.690381e-04,1.708432e-01,1.665000e-02,1.518862e-02,1.888778e-01,7.703343e-02,3.244513e-03,...,1.258952e-02,1.954425e-02,4.454531e-03,1.041616e-01,9.476210e-02,5.442563e-02,6.455164e-03,1.161040e-01,1.261106e-01,2.712081e-01
std,1.269210e-02,7.054453e-03,4.407396e-01,2.772087e-02,3.763719e-01,1.279562e-01,1.223026e-01,3.914116e-01,2.666445e-01,5.686815e-02,...,1.114945e-01,1.384279e-01,6.659346e-02,3.054701e-01,2.928861e-01,2.268557e-01,8.008431e-02,3.203496e-01,3.319740e-01,4.445833e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [16]:
del df

In [38]:
def fill_missing_values(df:pd.DataFrame,product_cols:list)->pd.DataFrame:
    for col in df.columns:
        if isinstance(df_active[col].mode()[0], (int,float)) and col not in(product_cols):
            df[col] = pd.to_numeric(df[col], errors='coerce')
            df[col] = df[col].fillna(df[col].mean())
        else :
            df[col] = df[col].fillna(df[col].mode().iloc[0])
    return df

In [39]:
df_active_fill_miss = fill_missing_values(df_active,product_cols=product_cols)

In [42]:
for col in df_active_fill_miss.columns:
    n_unique = df_active_fill_miss[col].nunique(dropna=True)
    n_nulls = df_active_fill_miss[col].isnull().sum()
    if n_unique <= 4 and n_nulls > 0:
        print(f"{col}: уникальных значений = {n_unique}, пропусков = {n_nulls}, уникальные значения: {df_active_fill_miss[col].unique()}")

### Разделяем выборки на тестовую и тренировочную

In [53]:
from utils import split_data

train, test = split_data(ratio=0.75,data=df_active_fill_miss)

In [65]:
sum_products_by_month = train.groupby(['fecha_dato']).agg(dict(zip(product_cols, ['sum'] * len(product_cols)))).reset_index()

In [66]:
sum_products_by_month

,fecha_dato,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,64,19,253098,270,57822,6235,6248,72387,29890,...,4927,7330,1687,34250,35032,19900,2532,38681,42970,94103
1,2015-02-28,65,20,254766,271,59115,6237,6164,72183,29779,...,4920,7319,1683,34435,33845,19867,2523,40482,44511,93298
2,2015-03-28,65,21,256263,284,60067,6250,5955,72026,29655,...,4911,7314,1687,34617,34575,19740,2504,42754,43890,96125
3,2015-04-28,64,21,257650,285,61396,6261,5742,71796,29537,...,4894,7310,1691,35428,35610,19696,2487,42283,46418,97491
4,2015-05-28,62,21,259256,285,62595,6288,5484,71729,29444,...,4754,7311,1691,35724,35559,19733,2471,41292,42366,95960
5,2015-06-28,60,21,264209,287,59480,6287,5382,71533,29324,...,4716,7313,1678,38629,36385,19502,2457,43449,47619,98345
6,2015-07-28,59,19,270509,292,61265,6294,5435,71351,29171,...,4704,7313,1666,39188,37084,19543,2447,44882,49515,99762
7,2015-08-28,59,19,276188,295,62631,6282,5480,71142,29046,...,4690,7314,1665,39402,36722,19797,2428,42733,47003,95903
8,2015-09-28,59,19,282509,291,63387,6265,5661,70812,28845,...,4679,7311,1667,39618,36146,20002,2413,43627,47949,100274
9,2015-10-28,59,18,287661,289,65056,6279,5916,70476,28700,...,4662,7309,1663,40161,35964,20660,2392,44603,48840,104220
10,2015-11-28,59,18,288772,291,66913,6280,6281,70105,28501,...,4643,7279,1660,40520,36172,20624,2385,44895,49164,104771
11,2015-12-28,59,18,289561,291,65427,6210,6231,69813,28324,...,4630,7291,1652,40693,36068,20643,2368,47322,51663,106846
12,2016-01-28,58,18,287846,295,66128,6164,5587,69452,28115,...,4602,7295,1647,41032,35219,21183,2345,39665,41311,105858

In [103]:
from pathlib import Path

graphs_dir = Path()/'graphs'
graphs_dir.mkdir(exist_ok=True)

### Частота владения продуктами

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig, axs = plt.subplots(nrows=13, ncols=1, figsize=(10, 70))

months = sum_products_by_month['fecha_dato'].unique()

for i, month in enumerate(months):
    month_data = sum_products_by_month.loc[
        sum_products_by_month['fecha_dato'] == month, product_cols
    ]
    month_data.T.plot(kind='barh', legend=False, ax=axs[i])
    axs[i].set_title(f"Месяц: {month}")
    axs[i].set_xlabel("Продажи")
    axs[i].set_ylabel("Продукт")

plt.tight_layout()
plt.savefig(graphs_dir/"product_sales_by_month")
plt.show()

### Популярность продуктов

In [108]:
top_popular = sum_products_by_month[product_cols].sum().sort_values(ascending=False).head(10)

low_popular = sum_products_by_month[product_cols].sum().sort_values(ascending=False).tail(10)

print(top_popular)
print(low_popular)

ind_cco_fin_ult1     3528288
ind_recibo_ult1      1292956
ind_ctop_fin_ult1     924805
ind_cno_fin_ult1      811282
ind_ecue_fin_ult1     781422
ind_nom_pens_ult1     603219
ind_nomina_ult1       556668
ind_reca_fin_ult1     493697
ind_tjcr_fin_ult1     464381
ind_dela_fin_ult1     452596
dtype: int64
ind_ctju_fin_ult1    81332
ind_ctma_fin_ult1    75566
ind_hip_fin_ult1     61732
ind_viv_fin_ult1     31752
ind_pres_fin_ult1    21737
ind_deco_fin_ult1    19282
ind_deme_fin_ult1    18333
ind_cder_fin_ult1     3726
ind_ahor_fin_ult1      792
ind_aval_fin_ult1      252
dtype: int64