## Поглядим на структуру датасета, поищем ошибки в файлах и покажем как связаны переменные между собой

In [2]:
import pandas as pd


df_category_tree = pd.read_csv("data/category_tree.csv")
df_events = pd.read_csv("data/events.csv")
df_item_properties_part1 = pd.read_csv("data/item_properties_part1.csv")
df_item_properties_part2 = pd.read_csv("data/item_properties_part2.csv")

In [3]:
df_category_tree.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [4]:
df_events.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [5]:
df_item_properties_part1.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [6]:
df_item_properties_part2.head()

       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062

In [7]:
sd1 = set(df_item_properties_part1["itemid"].unique())

sd2 = set(df_item_properties_part2["itemid"].unique())


sd_div1 = sd1.difference(sd2)

sd_div2 = sd2.difference(sd1)

print(sd_div1, sd_div2)

set() set()

### part_1 и part_2 содержат одинаковый набор itemid

In [8]:
df_item_properties_all = pd.concat([df_item_properties_part1, df_item_properties_part2])

del df_item_properties_part1, df_item_properties_part2, sd1, sd2, sd_div1, sd_div2

df_item_properties_all.sort_values(by=["timestamp", "itemid"], inplace=True)


df_item_properties_all.query("itemid == 132256")

,timestamp,itemid,property,value
12285,1439694000000,132256,663,1297729 n156.000 606827
902677,1439694000000,132256,452,992862 951748 1011636
1029671,1439694000000,132256,771,n15.600 190776 639502 n32.400 190776
1104309,1439694000000,132256,602,618514 980588
2317933,1439694000000,132256,566,n309.000 424566
2544841,1439694000000,132256,888,5135 813443 678736 149367 992862 951748 721369...
3557398,1439694000000,132256,619,n6000.000 1187104
3830202,1439694000000,132256,227,1037891
4303443,1439694000000,132256,681,814297 670753 n97.200
5290560,1439694000000,132256,698,1037891
7376890,1439694000000,132256,101,769062
7960444,1439694000000,132256,283,1037891 633705 5135 813443 678736 149367 5135 ...
9694886,1439694000000,132256,678,633705
10667343,1439694000000,132256,107,769062
1,1439694000000,132256,976,n26.400 1135780
186244,1439694000000,132256,852,769062
1340342,1439694000000,132256,956,769062
1437181,1439694000000,132256,1054,n180.000 639502 n192.000
2055664,1439694000000,132256,790,n556560.000
2300259,1439694000000,132256,966,n96.000 1187104
2305355,1439694000000,132256,751,769062
2463639,1439694000000,132256,159,519769
3197517,1439694000000,132256,478,721369
5434608,1439694000000,132256,931,814297 670753 n97.200
5610531,1439694000000,132256,761,n28.800 190776
6756635,1439694000000,132256,49,1319429 661116 1257525
7023897,1439694000000,132256,529,992862 625815 1119999 n66000.000
8274638,1439694000000,132256,204,992862 951748 1011636 721369
930308,1440298800000,132256,1066,n28.680 424566
1160836,1440298800000,132256,776,1176763
1752035,1440298800000,132256,364,105960
3141190,1440298800000,132256,888,5135 813443 678736 149367 992862 951748 721369...
4900462,1440298800000,132256,921,1149317 1257525
5900317,1440298800000,132256,962,664227 1305534 664227 463202 664227
6803150,1440298800000,132256,591,1116693
7550453,1440298800000,132256,785,992862
10925801,1440298800000,132256,611,n24.000 1187104
2453230,1440298800000,132256,790,n545640.000
2848727,1440298800000,132256,112,679677
3891442,1440298800000,132256,354,1116693
5658822,1440298800000,132256,839,633705
8964542,1440298800000,132256,6,1037891
2942407,1440903600000,132256,888,5135 813443 678736 149367 992862 951748 721369...
4011621,1440903600000,132256,202,5135 813443 678736 149367
1658098,1440903600000,132256,790,n535680.000
3252511,1440903600000,132256,588,1186729 681805
7803668,1440903600000,132256,758,n72.000 1187104
8629120,1440903600000,132256,451,140719 553394
9155064,1440903600000,132256,501,769062
457378,1441508400000,132256,available,0
1326908,1441508400000,132256,544,618514 980588
2743624,1441508400000,132256,888,5135 813443 678736 149367 992862 951748 721369...
1856881,1441508400000,132256,790,n535680.000
2297466,1441508400000,132256,917,1157866
5601314,1441508400000,132256,1036,1154859
384531,1442113200000,132256,764,1285872
3339973,1442113200000,132256,888,5135 813443 678736 149367 992862 951748 721369...
4517825,1442113200000,132256,categoryid,342
2254447,1442113200000,132256,790,n535680.000
2756518,1442113200000,132256,400,n467.520 424566

In [9]:
import numpy as np


def value_str_to_list(x):
    x = str(x).replace("n", "")
    return np.array(x.split(" "))


df_item_properties_all["value"] = df_item_properties_all["value"].apply(
    lambda x: value_str_to_list(x)
)

df_item_properties_all.query("itemid == 132256")

,timestamp,itemid,property,value
12285,1439694000000,132256,663,"[1297729, 156.000, 606827]"
902677,1439694000000,132256,452,"[992862, 951748, 1011636]"
1029671,1439694000000,132256,771,"[15.600, 190776, 639502, 32.400, 190776]"
1104309,1439694000000,132256,602,"[618514, 980588]"
2317933,1439694000000,132256,566,"[309.000, 424566]"
2544841,1439694000000,132256,888,"[5135, 813443, 678736, 149367, 992862, 951748,..."
3557398,1439694000000,132256,619,"[6000.000, 1187104]"
3830202,1439694000000,132256,227,[1037891]
4303443,1439694000000,132256,681,"[814297, 670753, 97.200]"
5290560,1439694000000,132256,698,[1037891]
7376890,1439694000000,132256,101,[769062]
7960444,1439694000000,132256,283,"[1037891, 633705, 5135, 813443, 678736, 149367..."
9694886,1439694000000,132256,678,[633705]
10667343,1439694000000,132256,107,[769062]
1,1439694000000,132256,976,"[26.400, 1135780]"
186244,1439694000000,132256,852,[769062]
1340342,1439694000000,132256,956,[769062]
1437181,1439694000000,132256,1054,"[180.000, 639502, 192.000]"
2055664,1439694000000,132256,790,[556560.000]
2300259,1439694000000,132256,966,"[96.000, 1187104]"
2305355,1439694000000,132256,751,[769062]
2463639,1439694000000,132256,159,[519769]
3197517,1439694000000,132256,478,[721369]
5434608,1439694000000,132256,931,"[814297, 670753, 97.200]"
5610531,1439694000000,132256,761,"[28.800, 190776]"
6756635,1439694000000,132256,49,"[1319429, 661116, 1257525]"
7023897,1439694000000,132256,529,"[992862, 625815, 1119999, 66000.000]"
8274638,1439694000000,132256,204,"[992862, 951748, 1011636, 721369]"
930308,1440298800000,132256,1066,"[28.680, 424566]"
1160836,1440298800000,132256,776,[1176763]
1752035,1440298800000,132256,364,[105960]
3141190,1440298800000,132256,888,"[5135, 813443, 678736, 149367, 992862, 951748,..."
4900462,1440298800000,132256,921,"[1149317, 1257525]"
5900317,1440298800000,132256,962,"[664227, 1305534, 664227, 463202, 664227]"
6803150,1440298800000,132256,591,[1116693]
7550453,1440298800000,132256,785,[992862]
10925801,1440298800000,132256,611,"[24.000, 1187104]"
2453230,1440298800000,132256,790,[545640.000]
2848727,1440298800000,132256,112,[679677]
3891442,1440298800000,132256,354,[1116693]
5658822,1440298800000,132256,839,[633705]
8964542,1440298800000,132256,6,[1037891]
2942407,1440903600000,132256,888,"[5135, 813443, 678736, 149367, 992862, 951748,..."
4011621,1440903600000,132256,202,"[5135, 813443, 678736, 149367]"
1658098,1440903600000,132256,790,[535680.000]
3252511,1440903600000,132256,588,"[1186729, 681805]"
7803668,1440903600000,132256,758,"[72.000, 1187104]"
8629120,1440903600000,132256,451,"[140719, 553394]"
9155064,1440903600000,132256,501,[769062]
457378,1441508400000,132256,available,[0]
1326908,1441508400000,132256,544,"[618514, 980588]"
2743624,1441508400000,132256,888,"[5135, 813443, 678736, 149367, 992862, 951748,..."
1856881,1441508400000,132256,790,[535680.000]
2297466,1441508400000,132256,917,[1157866]
5601314,1441508400000,132256,1036,[1154859]
384531,1442113200000,132256,764,[1285872]
3339973,1442113200000,132256,888,"[5135, 813443, 678736, 149367, 992862, 951748,..."
4517825,1442113200000,132256,categoryid,[342]
2254447,1442113200000,132256,790,[535680.000]
2756518,1442113200000,132256,400,"[467.520, 424566]"

In [11]:
df_category_tree.query("categoryid in(72.000, 1187104,888,866.0,803.0,32.400)")

      categoryid  parentid
483          866     803.0
485          888     866.0
1392         803       NaN
1653          72     620.0

In [20]:
df_item_properties_all["property"].nunique()

print(df_item_properties_all["property"].unique().shape[0],df_category_tree.shape[0])

1104 1669

In [21]:
df_item_properties_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20275902 entries, 484093 to 4744976
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   itemid     int64
 2   property   object
 3   value      object
dtypes: int64(2), object(2)
memory usage: 773.5+ MB